<div class="wrapper">
  <nav class="navigation">
    <H1>xState</H1>
    <div class="nav-button">
      <button [routerLink]="'state-transition'">Pump baloon</button>
      <p>State</p>
      <p>Transition</p>  
      <p>Atomic state</p>  
      <p>Initial state</p>  
      <p>Final state</p>  
    </div>

    <div class="nav-button">
      <button [routerLink]="'context'">Pump with value</button>
      <p>Context</p>
      <p>Compound State</p>
      <p>Self Transition</p>
      <p>Entry & Exit actions</p>
    </div>

    <div class="nav-button">
      <button [routerLink]="'guard-delay'">SMART pumping</button>
      <p>Guard</p>
      <p>Delays</p>  
      <p>Parallel State</p>  
    </div>

    <div class="nav-button">
      <button [routerLink]="'always'">Reality based pumping</button>
      <p>Always state</p>
    </div>

    <div class="nav-button">
      <button [routerLink]="'services'">API based baloons</button>
      <p>Services</p>
    </div>

    <div class="nav-button">
      <button [routerLink]="'actor'">PUMPINATOR 3000</button>
      <p>Actors</p>  
    </div>

  </nav>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
