<div class="wrapper" *ngIf="state$ | async as state">
    <div class="pump" (click)="sendPump()" >
        <img src="assets/pump_up.png" *ngIf="state.value !== 'Fully Pumped'"/>
        <img src="assets/pump_down.png" *ngIf="state.value === 'Fully Pumped'"/>    
    </div>

    <img src="assets/baloon.png" class="baloon" [ngClass]="{ 
        'baloon-empty': state.value === 'Empty'
    }"/>

    <div class="actions">
        <button *ngIf="state.value !== 'Pumped And Tied'" (click)="machine.send('Deflate')">Deflate</button>
        <button (click)="machine.send('Tie')">Tie</button>
    </div>
</div>
